<div class="text-center mx-auto col-lg-8 mt-5">
  <main class="form-signin w-100 m-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <img class="mb-4" src="/assets/icon.png" alt="" loading="lazy">
      <h1 class="h3 mb-4 fw-normal">Sgin in</h1>
      <div class="form-floating mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "floatingInput", class: "form-control" %>
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating mb-3">
        <%= f.password_field :password, autocomplete: "current-password", id: "floatingPassword", class: "form-control" %>
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sgin in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2023-</p>
    <% end %>
  </main>
</div>
