<% if @todo.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @todo.errors.each do |error| %>
      <strong>エラー！</strong> - <%= error.full_message %><br>
    <% end %>
  </div>
<% end %>
<%= form_with(model: @todo, url: "/todos/create", local: true) do |form| %>
  <div class="mb-3">
    <%= form.text_area :todos, class: "form-control", placeholder: "ゴミ拾いの内容を投稿しよう！", rows: 3 %>
  </div>
  <%= form.submit "追加", class: "btn btn-success px-5" %>
<% end %>
