<% if notice %>
  <div class="alert alert-success" role="alert">
    <strong>成功！</strong> - <%= notice %><br>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger" role="alert">
    <strong>エラー！</strong> - <%= alert %><br>
  </div>
<% end %>
